body{
    margin: 0;
    margin-top: 80px;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #0a1221;
}

.container{
    border-radius: 15px;
    background-color: #0a1221;
    box-shadow: 1px 1px 20px goldenrod;
    padding-top: 25px;
    padding-bottom: 10px;
    min-width: 380px;
    max-width: 90%;
    margin: 0 auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

@media (min-width: 600px){
    .container{
        max-width: 500px;
    }
    #menu{
        max-width: 400px;
    }
}


h1{
    text-align: center;
    color: white;
    font-size: 26px;
    font-family: Inter,Verdana,sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
    text-transform: uppercase;
    
}

.titles{
    display: flex;
    gap: 100px;
    color: goldenrod;
    font-family: Inter,Verdana,sans-serif;
    font-weight: 500;
    margin-bottom: 15px;
}

#player-score{
    border: 1px solid goldenrod;
    border-radius: 5px;
    padding: 5px 7px 5px 7px;
    
}

#computer-score{
    border: 1px solid goldenrod;
    border-radius: 5px;
    padding: 5px 7px 5px 7px;
}

.game{
    display: flex;
    height: 120px;
    gap: 120px; 
    align-items: center;
}

#player-img {
    transform: rotate(90deg);
    height: 100px;
}
.leftshake-animation{
    animation: left-shake 0.8s ease-in-out 2;
}

#computer-img {
    transform: rotate(-90deg);
    height: 100px;
}

.rightshake-animation{
    animation: right-shake 0.8s ease-in-out 2;
}

@keyframes left-shake {
    0% { transform: rotate(90deg) translateX(0) }
    25% { transform: rotate(90deg) translateX(7px) }
    50% { transform: rotate(90deg) translateX(-7px) }
    75% { transform: rotate(90deg) translateX(7px) }
    100% { transform: rotate(90deg) translateX(0) }
}

@keyframes right-shake {
    0% { transform: rotate(-90deg) translateX(0) }
    25% { transform: rotate(-90deg) translateX(7px) }
    50% { transform: rotate(-90deg) translateX(-7px)}
    75% { transform: rotate(-90deg) translateX(7px) }
    100% { transform: rotate(-90deg) translateX(0) }
}

h2{
    text-align: center;
    color: goldenrod;
    font-size: 20px;
    font-family: Inter,Verdana,sans-serif;
    font-weight: 500;
    margin-top: 30px;
}

#menu{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
    gap: 60px;
    box-shadow: 1px 1px 10px rgb(184, 184, 184);
    padding-top: 20px;
    border-radius: 10px;
    width: 90%;
    color: #fff;
}

#rock-img, #paper-img, #scissors-img{
    height: 60px;
    cursor: pointer;
}


.rock-menu, .paper-menu, .scissors-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#copyright{
    margin-top: 30px;
    color: #fff;
}